@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

/*Heider*/

header {
    background-color: #fff15a;
    width: 100%;
    height: 100px;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 8px 40px;
    display: flex;
}

.nav-container {
    display: flex;
    height: 40px;
    font-size: 13px;
}

.search-bar {
    width: 600px;
    height: 40px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 7px 0 9px 15px;
    border: none;
    font-size: 15px;
    font-weight: 300;
}

.company-icon {
    height: 34px;
    width: 134px;
    margin-right: 50px;
    object-fit: cover;
}

.nav-container .services-list {
    list-style: none;
    display: flex;
    gap:20px;
    color:#857f43;
    margin-bottom: 0;
}

.nav-container .services-lis:first-child {
    width: max-content;
}

/*main*/

main {
    background-color: #ebebeb;
}

/*paying  section*/

.main-container {
    padding:40px;
}

.paying-list {
    display: flex;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.paying-list .paying-box {
    height: 90px;
    flex: 1 0 auto;
}

.paying-info span {
    font-size: 17px;
    font-weight: 400;
    color: black;
}

.paying-info a {
    font-size: 14;
}

.paying-info a:hover {
    text-decoration: none;
}

.paying-icon {
    margin: 0 16px;
}

.paying-box-info {
    border-left: 1px solid #eee;
}

/* offer section */

.offer-title {
    display: flex;
    margin-left:40px;
    align-items: center;
    gap: 15px;
    margin-bottom:5px;
}

.offer-title h3 {
    color:#666666;
    font-weight: 300;
    font-size: 25px;
}


.offer-title a {
    font-size: 15px;
}

.offer-title a:hover {
    text-decoration: none;
}

.offer-container {
    padding: 10px 40px;
    justify-content: space-between;
}

.offer-product {
    height: 350px;
    background-color: white;
}

.offer-info {
    padding-top: 19px;
    padding-left: 16px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.offer-price {
    font-size: 23px;
    display: flex;
    align-items: center;
}

.offer-off {
    font-size: 14px;
    color: #00A650;
}

.offer-sending {
    font-size: 13px;
    font-weight: 600;
    color: #00A650;
}

.offer-full {
    width: 39px;
    height: 15px;
}

